App_WebReferences/myctDrug/DrugApps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpiryOrder">
        <s:complexType />
      </s:element>
      <s:element name="ExpiryOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExpiryOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgencyRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefSimNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirmName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgencyRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgencyRegistrationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FirmRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefSimNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirmName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirmType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pincode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReferencemobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Longitute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Latitute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="district" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usertype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FirmRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FirmRegistrationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FirmRegMore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefSimNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="druglicenceno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vat_tinno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FoodLic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Homiopathiclic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ScheXlic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PanCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LBT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocRNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HosShopactlic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="druglicenceno_rdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vat_tinno_rdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FoodLic_rdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Homiopathiclic_rdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ScheXlic_rdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PanCard_rdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LBT_rdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocRNo_rdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HosShopactlic_rdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="druglicenceno_21" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="druglicenceno_rdt21" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cstno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cstno_rdt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FirmRegMoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FirmRegMoreResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPurchaseOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefSimNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AgencyNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderDetails" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPurchaseOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPurchaseOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddExpiryOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefSimNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AgencyNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderDetails" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddExpiryOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddExpiryOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search_Companywise">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefSimNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ddltype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FilterData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="district" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pincode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search_CompanywiseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Search_CompanywiseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ExpiryOrderSoapIn">
    <wsdl:part name="parameters" element="tns:ExpiryOrder" />
  </wsdl:message>
  <wsdl:message name="ExpiryOrderSoapOut">
    <wsdl:part name="parameters" element="tns:ExpiryOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AgencyRegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:AgencyRegistration" />
  </wsdl:message>
  <wsdl:message name="AgencyRegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:AgencyRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="FirmRegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:FirmRegistration" />
  </wsdl:message>
  <wsdl:message name="FirmRegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:FirmRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="FirmRegMoreSoapIn">
    <wsdl:part name="parameters" element="tns:FirmRegMore" />
  </wsdl:message>
  <wsdl:message name="FirmRegMoreSoapOut">
    <wsdl:part name="parameters" element="tns:FirmRegMoreResponse" />
  </wsdl:message>
  <wsdl:message name="AddPurchaseOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddPurchaseOrder" />
  </wsdl:message>
  <wsdl:message name="AddPurchaseOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddPurchaseOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddExpiryOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddExpiryOrder" />
  </wsdl:message>
  <wsdl:message name="AddExpiryOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddExpiryOrderResponse" />
  </wsdl:message>
  <wsdl:message name="Search_CompanywiseSoapIn">
    <wsdl:part name="parameters" element="tns:Search_Companywise" />
  </wsdl:message>
  <wsdl:message name="Search_CompanywiseSoapOut">
    <wsdl:part name="parameters" element="tns:Search_CompanywiseResponse" />
  </wsdl:message>
  <wsdl:portType name="DrugAppsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExpiryOrder">
      <wsdl:input message="tns:ExpiryOrderSoapIn" />
      <wsdl:output message="tns:ExpiryOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgencyRegistration">
      <wsdl:input message="tns:AgencyRegistrationSoapIn" />
      <wsdl:output message="tns:AgencyRegistrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FirmRegistration">
      <wsdl:input message="tns:FirmRegistrationSoapIn" />
      <wsdl:output message="tns:FirmRegistrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FirmRegMore">
      <wsdl:input message="tns:FirmRegMoreSoapIn" />
      <wsdl:output message="tns:FirmRegMoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPurchaseOrder">
      <wsdl:input message="tns:AddPurchaseOrderSoapIn" />
      <wsdl:output message="tns:AddPurchaseOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddExpiryOrder">
      <wsdl:input message="tns:AddExpiryOrderSoapIn" />
      <wsdl:output message="tns:AddExpiryOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search_Companywise">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">searchdrug</wsdl:documentation>
      <wsdl:input message="tns:Search_CompanywiseSoapIn" />
      <wsdl:output message="tns:Search_CompanywiseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DrugAppsSoap" type="tns:DrugAppsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpiryOrder">
      <soap:operation soapAction="http://tempuri.org/ExpiryOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgencyRegistration">
      <soap:operation soapAction="http://tempuri.org/AgencyRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmRegistration">
      <soap:operation soapAction="http://tempuri.org/FirmRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmRegMore">
      <soap:operation soapAction="http://tempuri.org/FirmRegMore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPurchaseOrder">
      <soap:operation soapAction="http://tempuri.org/AddPurchaseOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExpiryOrder">
      <soap:operation soapAction="http://tempuri.org/AddExpiryOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_Companywise">
      <soap:operation soapAction="http://tempuri.org/Search_Companywise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DrugAppsSoap12" type="tns:DrugAppsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpiryOrder">
      <soap12:operation soapAction="http://tempuri.org/ExpiryOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgencyRegistration">
      <soap12:operation soapAction="http://tempuri.org/AgencyRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmRegistration">
      <soap12:operation soapAction="http://tempuri.org/FirmRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmRegMore">
      <soap12:operation soapAction="http://tempuri.org/FirmRegMore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPurchaseOrder">
      <soap12:operation soapAction="http://tempuri.org/AddPurchaseOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExpiryOrder">
      <soap12:operation soapAction="http://tempuri.org/AddExpiryOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_Companywise">
      <soap12:operation soapAction="http://tempuri.org/Search_Companywise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DrugApps">
    <wsdl:port name="DrugAppsSoap" binding="tns:DrugAppsSoap">
      <soap:address location="http://drug.myct.in/DrugApps.asmx" />
    </wsdl:port>
    <wsdl:port name="DrugAppsSoap12" binding="tns:DrugAppsSoap12">
      <soap12:address location="http://drug.myct.in/DrugApps.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>