App_WebReferences/okclsms/InsertDataToOkcl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertDataToOkclTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobileNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDataToOkclTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertDataToOkclTableResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertDataToOkclTableSoapIn">
    <wsdl:part name="parameters" element="tns:InsertDataToOkclTable" />
  </wsdl:message>
  <wsdl:message name="InsertDataToOkclTableSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDataToOkclTableResponse" />
  </wsdl:message>
  <wsdl:portType name="InsertDataToOkclSoap">
    <wsdl:operation name="InsertDataToOkclTable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">METHOD TO INSERT OKCL SMS DATA TO ATTENDANCE TABLE</wsdl:documentation>
      <wsdl:input message="tns:InsertDataToOkclTableSoapIn" />
      <wsdl:output message="tns:InsertDataToOkclTableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsertDataToOkclSoap" type="tns:InsertDataToOkclSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertDataToOkclTable">
      <soap:operation soapAction="http://tempuri.org/InsertDataToOkclTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InsertDataToOkclSoap12" type="tns:InsertDataToOkclSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertDataToOkclTable">
      <soap12:operation soapAction="http://tempuri.org/InsertDataToOkclTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsertDataToOkcl">
    <wsdl:port name="InsertDataToOkclSoap" binding="tns:InsertDataToOkclSoap">
      <soap:address location="http://www.evidyalaya.net.in:8114/InsertDataToOkcl.asmx" />
    </wsdl:port>
    <wsdl:port name="InsertDataToOkclSoap12" binding="tns:InsertDataToOkclSoap12">
      <soap12:address location="http://www.evidyalaya.net.in:8114/InsertDataToOkcl.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>