App_WebReferences/onlineExam/ClassApp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="classregistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefSimNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="collegeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pincode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RefMobileNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="classregistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="classregistrationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="classregistrationSoapIn">
    <wsdl:part name="parameters" element="tns:classregistration" />
  </wsdl:message>
  <wsdl:message name="classregistrationSoapOut">
    <wsdl:part name="parameters" element="tns:classregistrationResponse" />
  </wsdl:message>
  <wsdl:portType name="ClassAppSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="classregistration">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">classregistration</wsdl:documentation>
      <wsdl:input message="tns:classregistrationSoapIn" />
      <wsdl:output message="tns:classregistrationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClassAppSoap" type="tns:ClassAppSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="classregistration">
      <soap:operation soapAction="http://tempuri.org/classregistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClassAppSoap12" type="tns:ClassAppSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="classregistration">
      <soap12:operation soapAction="http://tempuri.org/classregistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClassApp">
    <wsdl:port name="ClassAppSoap" binding="tns:ClassAppSoap">
      <soap:address location="http://exam.myct.in/ClassApp.asmx" />
    </wsdl:port>
    <wsdl:port name="ClassAppSoap12" binding="tns:ClassAppSoap12">
      <soap12:address location="http://exam.myct.in/ClassApp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>