App_WebReferences/in/myct/drug/DrugApps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpiryOrder">
        <s:complexType />
      </s:element>
      <s:element name="ExpiryOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExpiryOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgencyRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefSimNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirmName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgencyRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgencyRegistrationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FirmRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefSimNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirmName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirmType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Pincode" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="ReferencemobileNo" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FirmRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FirmRegistrationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ExpiryOrderSoapIn">
    <wsdl:part name="parameters" element="tns:ExpiryOrder" />
  </wsdl:message>
  <wsdl:message name="ExpiryOrderSoapOut">
    <wsdl:part name="parameters" element="tns:ExpiryOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AgencyRegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:AgencyRegistration" />
  </wsdl:message>
  <wsdl:message name="AgencyRegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:AgencyRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="FirmRegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:FirmRegistration" />
  </wsdl:message>
  <wsdl:message name="FirmRegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:FirmRegistrationResponse" />
  </wsdl:message>
  <wsdl:portType name="DrugAppsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExpiryOrder">
      <wsdl:input message="tns:ExpiryOrderSoapIn" />
      <wsdl:output message="tns:ExpiryOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgencyRegistration">
      <wsdl:input message="tns:AgencyRegistrationSoapIn" />
      <wsdl:output message="tns:AgencyRegistrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FirmRegistration">
      <wsdl:input message="tns:FirmRegistrationSoapIn" />
      <wsdl:output message="tns:FirmRegistrationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DrugAppsSoap" type="tns:DrugAppsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpiryOrder">
      <soap:operation soapAction="http://tempuri.org/ExpiryOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgencyRegistration">
      <soap:operation soapAction="http://tempuri.org/AgencyRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmRegistration">
      <soap:operation soapAction="http://tempuri.org/FirmRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DrugAppsSoap12" type="tns:DrugAppsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpiryOrder">
      <soap12:operation soapAction="http://tempuri.org/ExpiryOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgencyRegistration">
      <soap12:operation soapAction="http://tempuri.org/AgencyRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmRegistration">
      <soap12:operation soapAction="http://tempuri.org/FirmRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DrugApps">
    <wsdl:port name="DrugAppsSoap" binding="tns:DrugAppsSoap">
      <soap:address location="http://drug.myct.in/DrugApps.asmx" />
    </wsdl:port>
    <wsdl:port name="DrugAppsSoap12" binding="tns:DrugAppsSoap12">
      <soap12:address location="http://drug.myct.in/DrugApps.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>