App_WebReferences/SendDataToEzeeTest/InsertEzeeTestAppRegistration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEzeeTestRegistrationData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEzeeTestRegistrationDataResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InsertEzeeTestRegistrationDataSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEzeeTestRegistrationData" />
  </wsdl:message>
  <wsdl:message name="InsertEzeeTestRegistrationDataSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEzeeTestRegistrationDataResponse" />
  </wsdl:message>
  <wsdl:portType name="InsertEzeeTestAppRegistrationSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertEzeeTestRegistrationData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method For Insert Registration Data to eZeeTest</wsdl:documentation>
      <wsdl:input message="tns:InsertEzeeTestRegistrationDataSoapIn" />
      <wsdl:output message="tns:InsertEzeeTestRegistrationDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsertEzeeTestAppRegistrationSoap" type="tns:InsertEzeeTestAppRegistrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEzeeTestRegistrationData">
      <soap:operation soapAction="http://tempuri.org/InsertEzeeTestRegistrationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InsertEzeeTestAppRegistrationSoap12" type="tns:InsertEzeeTestAppRegistrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEzeeTestRegistrationData">
      <soap12:operation soapAction="http://tempuri.org/InsertEzeeTestRegistrationData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsertEzeeTestAppRegistration">
    <wsdl:port name="InsertEzeeTestAppRegistrationSoap" binding="tns:InsertEzeeTestAppRegistrationSoap">
      <soap:address location="http://www.ezeetest.in:8083/InsertEzeeTestAppRegistration.asmx" />
    </wsdl:port>
    <wsdl:port name="InsertEzeeTestAppRegistrationSoap12" binding="tns:InsertEzeeTestAppRegistrationSoap12">
      <soap12:address location="http://www.ezeetest.in:8083/InsertEzeeTestAppRegistration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>