App_WebReferences/SendDataToeZeeTransport/InserteZeeTransportRegData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertRegDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="roleId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="refMobileNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="myctUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pincode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="stateId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="districtId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="talukaId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="villageName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imeiNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="simSerialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="longitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="latitude" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRegDetailsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertRegDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertRegDetails" />
  </wsdl:message>
  <wsdl:message name="InsertRegDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertRegDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="InserteZeeTransportRegDataSoap">
    <wsdl:operation name="InsertRegDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">METHOD TO INSERT APP REGISTRATION DETAILS TO EZEETRANSPORT</wsdl:documentation>
      <wsdl:input message="tns:InsertRegDetailsSoapIn" />
      <wsdl:output message="tns:InsertRegDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InserteZeeTransportRegDataSoap" type="tns:InserteZeeTransportRegDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertRegDetails">
      <soap:operation soapAction="http://tempuri.org/InsertRegDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InserteZeeTransportRegDataSoap12" type="tns:InserteZeeTransportRegDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertRegDetails">
      <soap12:operation soapAction="http://tempuri.org/InsertRegDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InserteZeeTransportRegData">
    <wsdl:port name="InserteZeeTransportRegDataSoap" binding="tns:InserteZeeTransportRegDataSoap">
      <soap:address location="http://www.loadme.co.in:8126/InserteZeeTransportRegData.asmx" />
    </wsdl:port>
    <wsdl:port name="InserteZeeTransportRegDataSoap12" binding="tns:InserteZeeTransportRegDataSoap12">
      <soap12:address location="http://www.loadme.co.in:8126/InserteZeeTransportRegData.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>