App_WebReferences/ClassAppDetailsToEzeeTest/InsertClassAppRegistration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserDatatoClassApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firmName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entryDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="instituteHeadMoblieNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserDatatoClassAppResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertClassAppDetailsToeZeeTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firmName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="instituteHeadMoblieNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDevID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertClassAppDetailsToeZeeTestResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InserDatatoClassAppSoapIn">
    <wsdl:part name="parameters" element="tns:InserDatatoClassApp" />
  </wsdl:message>
  <wsdl:message name="InserDatatoClassAppSoapOut">
    <wsdl:part name="parameters" element="tns:InserDatatoClassAppResponse" />
  </wsdl:message>
  <wsdl:message name="InsertClassAppDetailsToeZeeTestSoapIn">
    <wsdl:part name="parameters" element="tns:InsertClassAppDetailsToeZeeTest" />
  </wsdl:message>
  <wsdl:message name="InsertClassAppDetailsToeZeeTestSoapOut">
    <wsdl:part name="parameters" element="tns:InsertClassAppDetailsToeZeeTestResponse" />
  </wsdl:message>
  <wsdl:portType name="InsertClassAppRegistrationSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserDatatoClassApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Data From EzeeDrugAppDetail Table of myct</wsdl:documentation>
      <wsdl:input message="tns:InserDatatoClassAppSoapIn" />
      <wsdl:output message="tns:InserDatatoClassAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertClassAppDetailsToeZeeTest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">INSERT DATA TO EZEETEST DATABASE OF CLASSAPP</wsdl:documentation>
      <wsdl:input message="tns:InsertClassAppDetailsToeZeeTestSoapIn" />
      <wsdl:output message="tns:InsertClassAppDetailsToeZeeTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsertClassAppRegistrationSoap" type="tns:InsertClassAppRegistrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserDatatoClassApp">
      <soap:operation soapAction="http://tempuri.org/InserDatatoClassApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertClassAppDetailsToeZeeTest">
      <soap:operation soapAction="http://tempuri.org/InsertClassAppDetailsToeZeeTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InsertClassAppRegistrationSoap12" type="tns:InsertClassAppRegistrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserDatatoClassApp">
      <soap12:operation soapAction="http://tempuri.org/InserDatatoClassApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertClassAppDetailsToeZeeTest">
      <soap12:operation soapAction="http://tempuri.org/InsertClassAppDetailsToeZeeTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsertClassAppRegistration">
    <wsdl:port name="InsertClassAppRegistrationSoap" binding="tns:InsertClassAppRegistrationSoap">
      <soap:address location="http://www.ezeetest.in:8083/InsertClassAppRegistration.asmx" />
    </wsdl:port>
    <wsdl:port name="InsertClassAppRegistrationSoap12" binding="tns:InsertClassAppRegistrationSoap12">
      <soap12:address location="http://www.ezeetest.in:8083/InsertClassAppRegistration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>