App_WebReferences/localhost/GetRecordMyct.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Mobile_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Myct_UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mgs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMessageAndroid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeaderMobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="headmobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="relationmobileno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="relation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageAndroidResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMessageAndroidHead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeaderMobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="headmobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageAndroidHeadResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="GetMessageSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageAndroidSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessageAndroid" />
  </wsdl:message>
  <wsdl:message name="GetMessageAndroidSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageAndroidResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageAndroidHeadSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessageAndroidHead" />
  </wsdl:message>
  <wsdl:message name="GetMessageAndroidHeadSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageAndroidHeadResponse" />
  </wsdl:message>
  <wsdl:portType name="GetRecordMyctSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetRecord</wsdl:documentation>
      <wsdl:input message="tns:GetMessageSoapIn" />
      <wsdl:output message="tns:GetMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageAndroid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetRecord Android</wsdl:documentation>
      <wsdl:input message="tns:GetMessageAndroidSoapIn" />
      <wsdl:output message="tns:GetMessageAndroidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageAndroidHead">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetRecord AndroidHead</wsdl:documentation>
      <wsdl:input message="tns:GetMessageAndroidHeadSoapIn" />
      <wsdl:output message="tns:GetMessageAndroidHeadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetRecordMyctSoap" type="tns:GetRecordMyctSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageAndroid">
      <soap:operation soapAction="http://tempuri.org/GetMessageAndroid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageAndroidHead">
      <soap:operation soapAction="http://tempuri.org/GetMessageAndroidHead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetRecordMyctSoap12" type="tns:GetRecordMyctSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://tempuri.org/GetMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageAndroid">
      <soap12:operation soapAction="http://tempuri.org/GetMessageAndroid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageAndroidHead">
      <soap12:operation soapAction="http://tempuri.org/GetMessageAndroidHead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetRecordMyct">
    <wsdl:port name="GetRecordMyctSoap" binding="tns:GetRecordMyctSoap">
      <soap:address location="http://localhost:11037/TeliSamaj/WebService/GetRecordMyct.asmx" />
    </wsdl:port>
    <wsdl:port name="GetRecordMyctSoap12" binding="tns:GetRecordMyctSoap12">
      <soap12:address location="http://localhost:11037/TeliSamaj/WebService/GetRecordMyct.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>